[submodule "dotbot"]
    path = dotbot
    url = https://github.com/anishathalye/dotbot
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = git@github.com:VundleVim/Vundle.vim.git
[submodule "vim/bundle/vim-airline-themes"]
	path = vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "vim/bundle/vim-airline"]
	path = vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "vim/pack/tpope/start/vim-fugitive"]
	path = vim/pack/tpope/start/vim-fugitive
	url = git@github.com:tpope/vim-fugitive.git
[submodule "diff-so-fancy"]
	path = diff-so-fancy
	url = git@github.com:so-fancy/diff-so-fancy.git
